#about{
    background-color: #020306;
    color: white;
    font-family: cursive;
}
.about{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.about>div{
    width: 49%;
}
.knowme, .location, .fas{
    padding: 3%;
}

 .picture img{
    width: 73%;
}

.cv{display: inline-block;
        padding: 1rem 3rem;
        font-size: 1rem;
        font-weight: bold;
        color: #020306;
        background-color: white;
        border: none;
        border-radius: 7rem;
        cursor: pointer;
        transition: background-color 0.3s ease;
      
}

.about .descript{
    padding-top: 10rem;
}
.cv:hover {
    background-color: lightslategray;
  }
#icon{
    height: 2rem;
    width: 2rem;
  }

  @media (max-width: 375px){
    .about{
        flex-direction: column;
    }
    .about>div{
        width: 100%;
        height: 100%;
        background-color: #020306;
    }
    .about .descript{
        padding-top: 0;
    }
    .picture img{
        width: 100%;
    }
   
    .cv{
        display: inline-block;
        padding: 1rem 3rem;
        font-size: 1rem;
        border-radius: 2rem;
      
}
    
  }