.blogcontainer{
    background-color: #020306;
    height: 85%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: white;
    gap: 2rem;
}

.blogcontainer>div{
    height: 95%;
    padding: 0;
    box-shadow: 0rem 0rem 1rem gray;
    margin-top: 5%;
    background-color: #020306;
}

.blog1 .photo{
    height: 60%;
}
.blog1 .details{
    height: 40%;
    padding: 0 1rem 0 1rem ;
}
/* .blog1 .button{
    height: 15%;
} */

.blog2 .photo{
    height: 60%;
}
.blog2 .details{
    height: 40%;
    padding: 0 1rem 0 1rem ;
}
/* .blog2 .button{
    margin-left: 5rem;
    height: 15%;
} */


.blog3 .photo{
    height: 60%;
}
.blog3 .details{
    height: 40%;
    padding: 0 1rem 0 1rem ;
}
/* .blog3 .button{
    height: 15%;
} */

.readMore{
    padding: .5rem;
    font-size: 1rem;
    color: #020306;
    background-color: white;
    border-style: solid;
    font-weight: bolder;
    margin-top: 0;
    margin-left: 2rem;
    
    }

    @media (max-width:768px){
        .blogcontainer{
            grid-template-columns: repeat(2, 1fr);
        }
    }
    @media (max-width:375px){
        .blogcontainer{
            grid-template-columns: repeat(1, 1fr);
            margin-top: 100%;
        }
    }

