#portifolio{
    background-color: #020306;
    color: white;
    font-family: cursive;
   
}
h3{
    margin-left: 40rem;
}
.portifolio{
    height: 100%;
    width: 100%;
    display: inline-block;
    background-color: #020306;
    padding-top: 0 ;
 
}
.up{
    height: 30%;
    width: 88%;
    display: flex;
    margin: 6rem 0rem 0rem 5rem;
   
}
.down{
    width: 88%;
    height: 30%;
    display: flex;
    margin: 2rem 0rem 0rem 5rem;
}
 .up .project{
    margin: 0rem 2rem;
    width: 50%;
    height: 100%;
    background-color: white;

}
.down .project{
    margin: 0rem 2rem;
    width: 50%;
    height: 100%;
    background-color: white;
  
}
.project #project1{
    padding: 6rem 7rem;
    font-size: 1.2rem;
    color: #020306;
    
}
.project #project1 a{
  text-decoration: none;
  color: #020306;
  
}
.project #project2{
    padding: 6rem 3rem;
    font-size: 1.2rem;
    color: #020306;
}
.project #project2 a{
    text-decoration: none;
    color: #020306;
    
  }

.down #project3{
    padding: 6rem 7rem;
    font-size: 1.2rem;
    color: #020306;
}
.project #project3 a{
    text-decoration: none;
    color: #020306;
    
}
.down #project4{
    padding: 6rem 5rem;
    font-size: 1.2rem;
    color: #020306;
}
.project #project4 a{
    text-decoration: none;
    color: #020306;
    
}


@media (max-width:768px){
    .portifolio{
        height: 100%;
        width: 100%;
        display: inline-block;
        padding-top: 0 ;
     
    }
  
.up{
    height: 50%;
    width: 90%;
    display: flex;
    margin: 3rem 0rem 0rem 3rem;
    padding-top: 4rem;
   
}
.down{
    width: 90%;
    height: 50%;
    display: flex;
    margin: 3rem 0rem 0rem 3rem;
}

   
    h3{
        margin-left: 10rem;
        font-size: 3rem;
    }
}


@media (max-width: 375px){
    .portifolio{
        width: 100%;
        height: 100vh;
        max-height: fit-content;
        margin-top: 100vh;
        padding-top: 0 ;
     
    }
    .up{
        height: 45%;
        width: 90%;
        display: flex;
        flex-direction: column;
        margin: 1rem 0 1rem 2rem;
        padding-top: 0;
       
    }
    .down{
        width: 90%;
        height: 45%;
        display: flex;
        flex-direction: column;
        margin: .5rem 0 .5rem 2rem;
    }

    .up .project{
        margin: .5rem  0;
        width: 90%;
        height: 50%;
        padding: 1rem 0 1rem 0;
        background-color: white;
    
    }
    .down .project{
        margin: .5rem  0;
        width: 90%;
        height: 50%;
        padding: 1rem 0 1rem 0;
        background-color: white;
    }
    h3{
        margin-left: 6rem;
        font-size: 1.5rem;
    }

    
.project #project1{
    padding: 0 0;
    text-align: center; 
}

.project #project2{
    padding: 0 0;
    text-align: center; 
}


.down #project3{
    padding: 0 0;
    text-align: center; 
}

.down #project4{
    padding: 0 0;
    text-align: center; 
}

}

